Source: kylin-kmre-modules-dkms
Section: misc
Priority: optional
Maintainer: machao <machao@kylinos.cn>
Build-Depends: debhelper (>= 7), dkms
Standards-Version: 3.8.1

Package: kylin-kmre-modules-dkms
Architecture: all
Conflicts: binder-dkms, kydroid-modules-dkms
Replaces: binder-dkms
Depends: dkms (>= 1.95), ${misc:Depends}
Description: kylin-kmre-modules-dkms driver in DKMS format.
